<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../bootstrap.css" rel="stylesheet">
    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #1ABC9C;
      }
      body {
        padding-top: 40px; 
        color: white;
        font-size: 80px;
        text-align: center;

      }

      .logo {
        color: white;
        font-weight: 900;
      }


	  .login-form {
		margin-left: 65px;
		background-color: #16A085; 
	  }

	  a {
	  	color: #34495E;
	  }

    a:hover {
      color: white;

    }
	
	  legend {
		margin-right: -50px;
		font-weight: bold;
	  	color: #404040;
	  }

    </style>

</head>
<body>
<div class="logo">Estimately</div>
	<div class="fb-link">
		<%= link_to "Sign in with facebook", "/auth/facebook", id: "fb" %>
	</div>
</body>
</html>