<div class="task" id="newtask">
	<div class="name" contenteditable="true">Name</div>
	<div class="tag" contenteditable="true">Tag</div>
	
	<div class="bignum guess" contenteditable="true">10</div>
	<div class="label">minutes</div>
	<div class="label">your guess</div>
	<div class="start-btn"></div>
	<div class="btn" id="save-btn">Save</div>
</div>