<style type="text/css">
    /* Override some defaults */
    html, body {
      background-color: #1ABC9C;
    }
    .none {
    	display: none;
    }
</style>


<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn btn-info" data-toggle="modal">Make a new estimate</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Enter the information for your new task.</p>
    <p>Keep in mind Hofstadter's Law: it always takes longer than you expect, even when you take into account Hofstadter's Law.)</p>
    <input type="text" name="description" placeholder="Task name" class="span3">
    <input type="text" name="tags" placeholder="Tags" class="tm-input"/>
    <input type="text" name="duration" placeholder="How long will this take in minutes?" class="span3">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="save-btn">Save changes</button>
  </div>
</div>

<div id="wrap" data-url = "<%= user_tasks_path(current_user) %>">
  <%= render :partial=> "tasks/new" %>
</div>


<div id="wrap2">
  <%= render :partial=> "tasks/show" %>
</div>

<footer class="row">
	<div id="stat-summary span-6">
		<p>You <% %> by an average of <% %> minute(s)</p>
	</div>
</footer>




<script>
  $(".tm-input").tagsManager();
	$(document).ready(function() {
		// Save task
		var savebtn = $('#save-btn')
		// savebtn[0].onclick = null;
		savebtn.click(function() {
      var event = {task: {
        'description': $('input[name="description"]').val(),
        'tag': $('.tm-tag > span').html(),
        'duration': $('input[name="duration"]').val()
      }};
      console.log(event);
			$.ajax({
				type: 'POST',
				url: $('#wrap').data('url'),
				data: event,
				success: function() {
					console.log('Task saved');
				}
			});
		});
	})
</script>
