<style type="text/css">
    /* Override some defaults */
    html, body {
      background-color: #1ABC9C;
    }
    .field {
    	width: 240px;
    }
    .stat-summary {
    	padding-left: 2em;
    }


</style>

 
<!-- Modal -->

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Make a new estimate</h3>
  </div>
  <div class="modal-body">
    <p>Enter the information for your new task.</p>
    <p>Keep in mind Hofstadter's Law: it always takes longer than you expect, even when you take into account Hofstadter's Law.)</p>

    <p><input type="text" name="description" value="" placeholder="Task name" class="field"></p>

    <p><input type="text" name="tags" placeholder="Tags" class="tm-input field"/></p>
    <p><input type="text" name="duration" placeholder="How long will this take in minutes?" class="field"></p>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" data-dismiss="modal" id="save-btn">Save</button>
  </div>
</div>

<div id="wrap" data-url = "<%= user_tasks_path(current_user) %>">
  <%= render :partial=> "tasks/new" %>
</div>


<div id="wrap2">
  <%= render :partial=> "tasks/show" %>
</div>

<footer class="row">
	<div id="stat-summary span-6" style="padding-left:30px;color:rgb(52,73,94);float:none">
		<p>You underestimate by an average of <span class='rnd'></span> minute(s)</p>
	</div>
</footer>




<script>
  $(".tm-input").tagsManager();
	$(document).ready(function() {
		// Save task
		var savebtn = $('#save-btn')
		// savebtn[0].onclick = null;
		savebtn.click(function() {
	      var event = {task: {
    	    'description': $('input[name="description"]').val(),
        	'tag': $('.tm-tag > span').html(),
	        'duration': $('input[name="duration"]').val()
	      }};
        console.log(event);
        $('input[name="description"]').val("");
        $('input[name="duration"]').val("");
        $('.tm-tag > span').html("");
        $('.tm-tag').remove();
		  $.ajax({
			type: 'POST',
			url: $('#wrap').data('url'),
			data: event,
			success: function() {
				console.log('Task saved');
			}
		  });
		});

		$('.rnd').html(Math.round(10 * Math.random()));
	})
</script>
