  <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #1ABC9C;
      }
     
    </style>

<div class="span-9" id="event-feed">
	Events go here
</div>
<script>
	$(document).ready(function() {
		console.log('here');
	})
</script>