<style type="text/css">
    /* Override some defaults */
    html, body {
      background-color: #1ABC9C;
    }
</style>
<div class="row" id="task-feed">
	<%= render partial: "newtask" %>
</div>
<footer class="row">
	<div id="stat-summary">
		<p class="span-6">You <% %> by an average of <% %> minute(s)</p>
	</div>
</footer>