<style type="text/css">
   .task {
   	background-color: #34495E;
   	border-radius: 4px;
   	padding: 10px;
   	margin-top: 10px;
   	color: white;
   	-webkit-transition: all .2s ease-in-out;
 	-moz-transition: all .2s ease-in-out;
   }

   .task:hover {
   	background-color: #2C3E50;
   }

   .add {
   	margin-top: 10px;
   }

   .bignum {
   	font-size: 60px;
   	font-weight: 800;
   }
</style>

<script>
	function showDiv() {
	   document.getElementById('newtask').style.display = "block";
	}
</script>

<% @tasks.each do |t| %>
  <div class="row" data-url="<%= edit_user_task_path(current_user, t) %>">
    <div class="container">
      <div class="task row-fluid" id="display-task">
        <div class="span">
          <div class="description"><%= t.description %></div>
          <div class="tag"><%= t.tag %></div>
          <div class="bignum guess" contenteditable="true">10</div>
          <div class="label">minutes</div>
          <div class="label">your guess</div>
          <div class="start-btn"></div>
          <div class="btn" id="edit-btn">Edit</div>
        </div>
      </div>
    </div>
  </div>
<% end %>




